@import "tailwindcss";

:root {
  --background: #DBE6DE;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-arabic: var(--font-ibm-plex-sans-arabic);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #DBE6DE;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
